{% extends 'base.html.twig' %}

{% block title %}Espeto{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="title">
        Formacion Mesa de <span>Espeto</span>
    </h1>

    <div class="button-container-main">
        <a href="{{ path('app_contest') }}" class="a-button-main">
            <button class="full-width-button-main">
            {{ 'Contests'|trans }}
            </button>
        </a>
        <a href="{{ path('app_participant') }}" class="a-button-main">
            <button class="full-width-button-main">
                {{ 'Participants'|trans }}
            </button>
        </a>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    <style>
        .example-wrapper {
            text-align: center;
            padding: 2rem;
        }

        .title {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .button-container-main {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
        }

        .full-width-button-main {
            background-color: #3498db;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 40px;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            min-height: 200px;
            text-transform: uppercase;
        }

        .full-width-button-main a {
            color: white;
            text-decoration: none;
        }

        .full-width-button-main:hover {
            background-color: #2980b9;
        }

        .a-button-main {
            width: 49%;
        }
    </style>
{% endblock %}
