{% extends 'base.html.twig' %}

{% block title %}Espeto{% endblock %}

{% block body %}

<div class="example-wrapper">
<style>
.a-button {
    width: 90%;
    margin-right: 5px;
}
</style>
    <h1 class="title">
        Tormacion Mesa de <span>Espeto</span>
    </h1>

    <div class="button-container">
        <a href="{{ path('app_contest') }}" class="a-button">
            <button class="full-width-button">
            {{ 'Contests'|trans }}
            </button>
        </a>
        <a href="{{ path('app_participant') }}" class="a-button">
            <button class="full-width-button">
                {{ 'Participants'|trans }}
            </button>
        </a>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    <style>
        .example-wrapper {
            text-align: center;
            padding: 2rem;
        }

        .title {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
        }

        .full-width-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 100%;
        }

        .full-width-button a {
            color: white;
            text-decoration: none;
        }

        .full-width-button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}