{% extends 'base.html.twig' %}

{% block title %}Espeto{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>
        Logo
    </h1>

    <button>
        <a href="{{ path('app_contest') }}">Cursos</a>
    </button>
    <button>
        <a href="{{ path('app_participant') }}">Alumnos</a>
    </button>
{% endblock %}
